
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '
    var genplan = [
      ['parking', 'Підземні паркінги', '#4AC1F3 '],
      ['hospital', 'Лікарня', '#4AF3DF'],
      ['park', 'Паркова зона', '#E6F34A'],
      ['barbeque', 'Зона барбекю', '#F3C44A'],
      ['dogs', 'Зона для вигулу собак', '#F3734A'],
      ['greenzone', 'Зелені зони', '#4AF384'],
      ['playground', 'Дитячі майданчики', '#F34AEC'],
      ['sportyard', 'Спортивні майданчики', '#4D4AF3'],
      ['workoutzone', 'Workout зони', '#F34A4A'],
    ]

block meta
  title= 'Щасливий у Дніпрі'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .genplan-layout
    .genplan-svg
      <svg width="2560" height="1293.3" version="1.1" viewBox="0 0 677.33 342.19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMaxYMid slice">
        <g id="layer1" transform="translate(222.25 106.09)">
        <image id="image20" x="-222.25" y="-106.09" width="677.33" height="342.19" preserveAspectRatio="none" xlink:href="./assets/images/genplan-img.jpg"/>
        <a xlink:href="/single-floor?floor=1" xlink:title="ЖК Smart - поверх 2">
            <path stroke-width="1" data-floor="1" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path28" d="m-12.095 223.89 12.851 3.7798h9.0714l13.229-6.8036 3.4018-2.2678 291.8-19.277v-23.812l-35.152 2.2678-256.27 12.473-11.717 4.9137-9.0714 1.1339-7.5595-1.1339-4.6507-3.1078-3.2072-.40092-2.7254-1.2027z" />
        </a>
        <a xlink:href="/single-floor?floor=2" xlink:title="ЖК Smart - поверх 3">
            <path stroke-width="1" data-floor="2" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path30" d="m-12.095 190.45 2.7254 1.2027 3.2072.40092 4.6507 3.1078 7.5595 1.1339 9.0714-1.1339 11.717-4.9137 291.42-14.741v-17.009l-291.99 14.552v8.1265l-5.4807 1.7009v-6.9926l-6.0476 1.8899-7.3705 1.8899-5.4807 1.1339-5.2917-.37798v-10.016l-2.6458-1.8899-6.0476-.18897z" />
        </a>
        <a xlink:href="/single-floor?floor=3" xlink:title="ЖК Smart - поверх 4">
            <path stroke-width="1" data-floor="3" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path32" d="m-12.095 168.33 6.0476.18897 2.6458 1.8899v10.016l5.2917.37798 18.899-4.9137v6.9926l5.4807-1.7009v-8.1265l291.99-14.552v-17.576l-26.458.94494-6.8036-1.3229-126.81 3.2128-.37796 1.1339-131.54 4.1577-1.7009.56696.18899 5.4807-3.9688.94494.18899-5.6696-9.0714 1.3229-5.2917.18899-7.5595-.37798-2.4568-.37797v-6.6146l-2.2679-.75595v2.0789l-6.4256-.75595z" />
        </a>
        <a xlink:href="/single-floor?floor=4" xlink:title="ЖК Smart - поверх 5">
            <path stroke-width="1" data-floor="4" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34" d="m-12.095 145.08 6.4256.75595v-2.0789l2.2679.75595v6.6146l10.016.75595 5.2917-.18899 9.0714-1.3229-.18899 5.6696 3.9688-.94494-.18899-5.4807 1.7009-.56696 131.54-4.1577.37796-1.1339 126.81-3.2128 6.8036 1.3229 26.458-.94494v-18.521h-26.836l-6.4256-.37797-258.72 5.6696v3.4018l-5.2917.94494v-4.9137l-7.9375 1.7009-7.5595.56696-5.4807-.56696-3.4018-.94494.18899-7.9375h-2.2679l-.56696 6.2366-6.0476-.56697z" />
        </a>
        <a xlink:href="/single-floor?floor=5" xlink:title="ЖК Smart - поверх 6">
            <path stroke-width="1" data-floor="5" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6" d="m-12.095 125.51 6.0476.6672.56696-6.2366h2.2679l-.18899 7.9375 8.8824 1.5119 7.5595-.56696 7.9375-1.7009v4.9137l5.2917-.94494v-3.4018c39.728-1.1432 93.356-2.5547 131.54-3.1804l7.3705.53453 119.82-3.0238 6.9925.37797h26.269v-21.356l-26.836 1.3364-6.6929-.64524-258.46 4.6006v3.4018l-5.2917.94494v-4.9137l-7.9375 1.7009-7.5595.46673-5.4807-.56696-3.4018-.94494-.044871-7.9709h-2.3013l-.061896 7.6598-6.2854-.0573z" />
        </a>
        <a xlink:href="/single-floor?floor=6" xlink:title="ЖК Smart - поверх 7">
            <path stroke-width="1" data-floor="6" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7" d="m-12.095 106.06 6.2854.0573.061896-7.6598h2.3013l.044864 8.0711 8.8824 1.5119 7.5595-.56696 7.9375-1.7009v4.9137l5.2917-.94494v-3.4018c39.728-1.1432 93.545-1.6098 131.72-2.2354l7.1815-.41041 119.55-1.9547 6.6929.64524 26.836-1.3364 1e-5-16.82-26.836.20242-7.4488-1.0232-259.17 1.3095-.06682 2.7336-3.8217.07631.06682-3.1096-7.9375 1.7009-7.5595.46673-5.4807-.56696-3.6022-.97835-.078308-8.4052-2.034-.06681-.028491 9.6643-6.3522-.02719z" />
        </a>
        <a xlink:href="/single-floor?floor=7" xlink:title="ЖК Smart - поверх 8">
            <path stroke-width="1" data-floor="7" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8" d="m-12.095 86.289 6.2854.0573.095306-9.7818 2.034.06681.078308 8.4052 5.4921 1.3432 11.15-.26458 7.9375-1.7009-.06682 3.1096 3.8217-.07631.06682-2.7336 133.19-.85313 7.1815.06206 118.8-.51841 7.4488 1.0232 25.454-.19061.15355-19.497-25.419 1.1474-7.3543-.36176-259.45-.5804v.91874l-3.6327-.0845-3.3073.18899-4.8192.37797-7.5595.46673-5.4807-.56696-3.6022-.97835-.0783-11.429-2.034.50016-.0285 12.121-6.3522-.02719z" />
        </a>
        <a xlink:href="/single-floor?floor=8" xlink:title="ЖК Smart - поверх 9">
            <path stroke-width="1" data-floor="8" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6" d="m-12.095 66.521 6.2854.0573.095302-12.239 2.034-.50016.078298 11.429 5.4921 1.3432 11.15-.26458 6.668-.565 1.4585-.002 3.6327.0845v-.91874l133.33.28276 7.1147.12888 118.93.21658 7.4373.31394 25.419-1.1474.0945-17.028-25.38.01065-7.0202-.29494-259.92-2.2508.03312 1.107-3.6658-.27279-3.3073.18899-4.8192.37797-7.5595.46673-5.4807-.56696-3.6022-.97835.016194-13.886-2.0812.87815-.12299 13.68-6.305 1.2012z" />
        </a>
        <a xlink:href="/single-floor?floor=9" xlink:title="ЖК Smart - поверх 10">
            <path stroke-width="1" data-floor="9" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6-7" d="m-12.095 47.374 6.305-1.2012.12299-13.68 2.0812-.87815-.016194 13.886 3.6022.97835 6.325.60149 13.249-.9659 1.5922-.10233 3.6658.27279-.03312-1.107 133.51 1.0832 7.0675.08163 118.93 1.067 7.4374.31394 25.38-.01065-.0945-14.621-25.152-.69805-6.0753 1.217-259.31-10.377-.09005 5.0424-5.6664-1.704-5.6696-.51972-5.4334-.14174-5.0082.08875-4.1578.51972-3.933.81704-2.188.67254-6.305 1.2012z" />
        </a>
        <a xlink:href="/single-floor?floor=10" xlink:title="ЖК Smart - поверх 11">
            <path stroke-width="1" data-floor="10" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6-7-0" d="m-11.962 29.21 2.5701-.53977 3.7349-.66146 2.188-.67254 3.933-.81704 4.1578-.51972 4.9635-.06135 5.4781.11434 5.6696.51972 5.6664 1.704.09005-5.0424 133.13 5.4299 7.0675.27062 119.11 4.6768 6.0753-1.217 25.152.69805-.0473-22.653-24.75.81246-5.808 2.5533-260.04-12.232.19348 4.7589-4.1545-1.704-5.6696-.51972-5.4334-.14175-5.0082.0887-4.1578.51973-3.933.81703-2.188.67255-8.129 2.0517z" />
        </a>
        <a xlink:href="/single-floor?floor=11" xlink:title="ЖК Smart - поверх 12">
            <path stroke-width="1" data-floor="11" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6-7-0-8" d="m-11.783 7.2658 2.57-.53977 3.7349-.66146 2.188-.67254 3.933-.81704 4.1578-.51972 4.9635-.06135 5.4781.11434 5.6696.51972 5.6664 1.704.09-5.0424 132.6 6.499 7.5185.37084 119.64 5.6456 5.808-2.5533 24.75-.81246-.0242-21.653-24.548 2.1252-6.3426 3.6224-259.5-14.905-.09 5.0424-5.6664-1.704-5.6696-.51972-8.5045-.10029-4.2995.2835-3.933.81703-2.188.67255-2.1382 2.4054-6.1692 1.918z" />
        </a>
        <a xlink:href="/single-floor?floor=12" xlink:title="ЖК Smart - поверх 13">
            <path stroke-width="1" data-floor="12" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6-7-0-8-5" d="m-12.095-11.556 6.1692-1.918 2.1382-2.4054 2.188-.67255 2.1376-.5335 4.1578-.51972 4.9635-.06135 5.4781.11434 5.6696.51972 5.6664 1.704.09-5.0424 132.6 7.7017 7.1176.37084 119.79 6.8322 6.3426-3.6224 24.467-2.1326-.0241-21.653-24.359 3.2591-6.1536 4.0004-260.13-14.46.17251 8.9494-5.4908-2.3722-.19062-5.8651-7.037-.67629-7.28.4896-4.1578.51973-3.933.81703-3.5912 1.4075-.20046 3.675-3.6126.27408-2.986 2.1117z" />
        </a>
        <a xlink:href="/single-floor?floor=13" xlink:title="ЖК Smart - поверх 1">
            <path stroke-width="1" data-floor="13" fill="#F4F4F4" fill-opacity=".2" stroke="#EDE2E7" id="path34-6-7-8-6-7-0-8-5-1" d="m-12.095-30.745 2.986-2.1117 3.6126-.27408.20046-3.675 3.5912-1.4075 3.933-.81703 4.3447-.60199 7.0931-.40734 7.037.67629.19062 5.8651 5.4908 2.3722-.17251-8.9494 140.14 7.7863 119.98 6.6736 6.1536-4.0004 24.359-3.2591.34186-24.589-25.356-1.8305-12.167 7.4081-249.64-20.874-4.3711-23.657c-8.9996-10.132-26.086-10.108-31.34-4.0356l-.01097 40.738c-1.9628-.14994-4.3327 1.059-6.4057 2.3426l.07917 5.7025z" />
        </a>
        </g>
        </svg>
    .genplan-floor-tooltip(data-genplan-tooltip)
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="genplan-floor-tooltip__close">
        <path d="M23 23L1 1M1 23L23 1L1 23Z" stroke="#ffffff" stroke-width="2"/>
      </svg>
      .genplan-floor-tooltip__digit(data-genplan-tooltip-text) 5
      .genplan-floor-tooltip__text() поверх
    .genplan-title Планування
block footer

block header
